<!--Hero Static-->
<section class="hero-static">
    <div class="overlay"></div>
    <div style="background-image: url(img/about/about_bg.jpg);" class="bg-image"
         data-stellar-background-ratio="0.5"></div>
    <div class="content">
        <div class="inner">
            <h1>Awesome team.<br/><span>Awesome shop.</span></h1>
        </div>
    </div>
</section><!--Hero Static Close-->

<!--About Info-->
<section class="space-top space-bottom container">
    <h2>About us</h2>

    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6">
            <h3>Why we are cool</h3>

            <p class="p-style3">Limo is the product which was born thanks to the involvement not only of the UI experts
                but also great marketers who have tremendous experience in outstanding implementations of e-commerce
                projects from different domains.</p>
        </div>
        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-6">
            <p class="p-style3">Limo Theme is quite universal and covers a lot of use cases for either big e-commerce
                website or smaller ones. Due to 5 different landing pages you can easily guide a client whether directly
                to a specific product or to a category page. The Product Showcase Home page is a full featured landing
                page for effective product or service promotion.</p>
        </div>
    </div>
</section><!--About Info Close-->

<!--Team-->
<section class="team container">
    <h3>Meet our team</h3>

    <div class="row">
        <!--Member-->
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="member">
                <div class="mask"><img src="/img/about/team/1.png" alt="1"/></div>
                <h4>Jonathan Doe</h4>
                <h5>CEO, Founder</h5>

                <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-pinterest-square"></i></a>
                    <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <!--Member-->
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="member">
                <div class="mask"><img src="/img/about/team/1.png" alt="1"/></div>
                <h4>Jonathan Doe</h4>
                <h5>CEO, Founder</h5>

                <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-pinterest-square"></i></a>
                    <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <!--Member-->
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="member">
                <div class="mask"><img src="/img/about/team/1.png" alt="1"/></div>
                <h4>Jonathan Doe</h4>
                <h5>CEO, Founder</h5>

                <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-pinterest-square"></i></a>
                    <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <!--Member-->
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="member">
                <div class="mask"><img src="/img/about/team/1.png" alt="1"/></div>
                <h4>Jonathan Doe</h4>
                <h5>CEO, Founder</h5>

                <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-pinterest-square"></i></a>
                    <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
</section><!--Team Close-->
