<!--Breadcrumbs-->
<ol class="breadcrumb">
    <li><a href="index">Home</a></li>
    <li>Components &amp; styles</li>
</ol><!--Breadcrumbs Close-->

<!--Components and Styles-->
<section class="cs-page container">
    <h1>Components &amp; styles</h1>
    <div class="row">

        <!--Heading and Paragraphs-->
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h3 class="cs-heading">Headings</h3>
            <h1>h1.Limo heading</h1>
            <h2>h2.Limo heading</h2>
            <h3>h3.Limo heading</h3>
            <h4>h4.Limo heading</h4>
            <h5>h5.Limo heading</h5>
            <h6>h6.Limo heading</h6>
            <h3 class="cs-heading space-top">Paragraphs</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="p-style2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
            <p class="p-style3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <h3 class="cs-heading space-top">Blockquotes</h3>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante commodo consequat.</p>
                <footer>Someone famous in Source Title</footer>
            </blockquote>
            <blockquote class="blockquote-reverse space-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante commodo consequat.</p>
                <footer>Someone famous in Source Title</footer>
            </blockquote>
        </div>

        <!--List Styles-->
        <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-4">
            <h3 class="cs-heading">Lists styles</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor</li>
                        <li>Ac tristique libero volutpat</li>
                    </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
            </ul>
            <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit</li>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor</li>
            </ol>
            <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor</li>
                        <li>Ac tristique libero volutpat</li>
                    </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
            </ul>
        </div>
    </div>

    <!--Forms-->
    <div class="row space-top">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <h3 class="cs-heading">Basic Example</h3>
            <form class="space-bottom" role="form">
                <div class="form-group">
                    <label for="cs-email">Email address</label>
                    <input type="email" class="form-control" id="cs-email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="cs-password">Password</label>
                    <input type="password" class="form-control" id="cs-password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="disabled">Disabled input</label>
                    <input type="text" class="form-control" id="disabled" placeholder="Disabled input..." disabled>
                </div>
                <div class="form-group">
                    <div class="checkbox custom">
                        <label>
                            <input type="checkbox">Check me out
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1 col-sm-7">
            <h3 class="cs-heading">Horizontal Form</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="cs-name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cs-name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cs-email2" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="cs-email2" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cs-message" class="col-sm-2 control-label">Message</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="10" id="cs-message" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-block">Block Level Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Buttons-->
    <h3 class="cs-heading">Buttons</h3>
    <div class="row buttons-demo">
        <div class="col-lg-12">
            <a href="#" class="btn btn-primary">Default Button</a>
            <a href="#" class="btn btn-primary">Primary Button</a>
            <a href="#" class="btn btn-black">Success Black</a>
            <a href="#" class="btn btn-primary disabled">Disabled Button</a>
        </div>
    </div>
    <h3>Button sizess</h3>
    <div class="row buttons-demo">
        <div class="col-lg-12">
            <a href="#" class="btn btn-primary btn-lg">Large Button</a>
            <a href="#" class="btn btn-primary">Default Button</a>
            <a href="#" class="btn btn-primary btn-sm">Small Button</a>
            <a href="#" class="btn btn-primary btn-xs">Extra Small Button</a>
        </div>
    </div>
    <h3>Block level buttons</h3>
    <div class="row buttons-demo space-bottom">
        <div class="col-lg-3 col-md-3 col-sm-3"><a href="#" class="btn btn-primary btn-block">Block Level</a></div>
        <div class="col-lg-3 col-md-3 col-sm-3"><a href="#" class="btn btn-primary btn-block">Block Level</a></div>
        <div class="col-lg-3 col-md-3 col-sm-3"><a href="#" class="btn btn-black btn-block">Block Level</a></div>
    </div>

    <!--Images-->
    <h3 class="cs-heading">Images</h3>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h3 class="text-center">Rounded</h3>
            <img class="img-rounded center-block" src="img/cs-page/image.jpg" width="263" height="263" alt="Image Rounded"/>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h3 class="text-center">Circle</h3>
            <img class="img-circle center-block" src="img/cs-page/image.jpg" width="263" height="263" alt="Image Circle"/>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h3 class="text-center">Thumbnail</h3>
            <img class="img-thumbnail center-block" src="img/cs-page/image.jpg" width="263" height="263" alt="Image Thumbnail"/>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h3 class="text-center">Circle Thumbnail</h3>
            <img class="img-circle-thumbnail center-block" src="img/cs-page/image.jpg" width="263" height="263" alt="Circle Thumbnail"/>
        </div>
    </div>
    <div class="row extra-space-top">

        <!--Tabs-->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h3 class="cs-heading">Tabs</h3>
            <div class="tabs-widget">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab01" data-toggle="tab">Tab item 01</a></li>
                    <li><a href="#tab02" data-toggle="tab">Tab item 01</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab01">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="tab-pane fade" id="tab02">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Accordion-->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h3 class="cs-heading">Accordion</h3>
            <div class="accordion panel-group" id="accordion">
                <div class="panel">
                    <div class="panel-heading active">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i></i>Collapse 01</a>
                    </div>
                    <div id="collapseOne" class="collapse in">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid.
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed"><i></i>Collapse 02</a>
                    </div>
                    <div id="collapseTwo" class="collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid.
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed"><i></i>Collapse 03</a>
                    </div>
                    <div id="collapseThree" class="collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Components and Styles Close-->
