<!--Hero Slider-->
<section class="hero-slider">
    <div class="master-slider" id="hero-slider">

        <!--Slide 1-->
        <div class="ms-slide" data-delay="7">
            <div class="overlay"></div>
            <img src="/masterslider/blank.gif" data-src="/img/hero/slideshow/slide_1.jpg" alt="Wristlet"/>
            <h2 style="width: 456px; left: 110px; top: 110px;" class="dark-color ms-layer" data-effect="top(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Wristlet</h2>
            <p style="width: 456px; left: 110px; top: 210px;" class="dark-color ms-layer" data-effect="back(500)" data-duration="700" data-delay="500" data-ease="easeOutQuad">In this slider (which works both on touch screen and desktop devices) you can change the title, the description and button texts. It's all that you need to demonstrate your top rated products. </p>
            <div style="left: 110px; top: 350px;" class="ms-layer button" data-effect="bottom(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span>$1845</span>Buy it now</a></div>
        </div>

        <!--Slide 2-->
        <div class="ms-slide" data-delay="7">
            <span class="overlay"></span>
            <img src="/masterslider/blank.gif" data-src="/img/hero/slideshow/slide_2.jpg" alt="Necessaire"/>
            <h2 style="width: 456px; left: 110px; top: 110px;" class="dark-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Necessaire</h2>
            <p style="width: 456px; left: 110px; top: 210px;" class="dark-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">In this slider (which works both on touch screen and desktop devices) you can change the title, the description and button texts. It's all that you need to demonstrate your top rated products. </p>
            <div style="left: 110px; top: 350px;" class="ms-layer button" data-effect="rotatebottom(30|90,long,br,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span>1640$</span>Buy it now</a></div>
        </div>

        <!--Slide 3-->
        <div class="ms-slide" data-delay="7">
            <div class="overlay"></div>
            <img src="/masterslider/blank.gif" data-src="/img/hero/slideshow/slide_2.jpg" alt="Crescent"/>
            <h2 style="width: 456px; left: 110px; top: 110px;" class="dark-color ms-layer" data-effect="left(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Crescent</h2>
            <p style="width: 456px; left: 110px; top: 210px;" class="dark-color ms-layer" data-effect="left(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">In this slider (which works both on touch screen and desktop devices) you can change the title, the description and button texts. It's all that you need to demonstrate your top rated products. </p>
            <div style="left: 110px; top: 350px;" class="ms-layer button" data-effect="left(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span>2500$</span>Buy it now</a></div>
        </div>

    </div>
</section><!--Hero Slider Close-->

<!--Offers Tabs-->
<section class="offer-tabs">

    <!--Tabs-->
    <div class="tab-navs">
        <a class="active" href="#offer1" data-toggle="tab">
            <span class="arrow"></span>
            <img src="/img/offers/th_1.png" alt="1"/>
            <h3>Offer name</h3>
        </a>
        <a href="#offer2" data-toggle="tab">
            <span class="arrow"></span>
            <img src="/img/offers/th_1.png" alt="1"/>
            <h3>Offer name</h3>
        </a>
        <a href="#offer3" data-toggle="tab">
            <span class="arrow"></span>
            <img src="/img/offers/th_1.png" alt="1"/>
            <h3>Offer name</h3>
        </a>
    </div>

    <!--Tabs Content-->
    <div class="tab-content">
        <!--Offer1-->
        <div style="background: #202020;" class="tab-pane fade in active" id="offer1">
            <div class="container">
                <div class="row">
                    <div class="text-block col-lg-5 col-lg-offset-1 col-md-6 col-sm-6">
                        <h3 class="light-color">Look for all bags<br/>at our shop!</h3>
                        <p class="p-style2 light-color">Is it of high importance to redirect a customer to the product page? Provide a detailed description with a callout action. </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="img-block">
                            <img src="/img/offers/offer_1.png" alt="1"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Offer2-->
        <div style="background: #e5e5e5;" class="tab-pane fade" id="offer2">
            <div class="container">
                <div class="row">
                    <div class="text-block col-lg-5 col-lg-offset-1 col-md-6 col-sm-6">
                        <h3 class="gray-color">Look for all bags<br/>at our shop!</h3>
                        <p class="p-style2 gray-color">Is it of high importance to redirect a customer to the product page? Provide a detailed description with a callout action. </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="img-block">
                            <img src="/img/offers/offer_2.png" alt="2"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Offer3-->
        <div style="background: #fff;" class="tab-pane fade" id="offer3">
            <div class="container">
                <div class="row">
                    <div class="text-block col-lg-5 col-lg-offset-1 col-md-6 col-sm-6">
                        <h3 class="gray-color">Look for all bags<br/>at our shop!</h3>
                        <p class="p-style2 gray-color">Is it of high importance to redirect a customer to the product page? Provide a detailed description with a callout action. </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="img-block">
                            <img src="/img/offers/offer_3.png" alt="3"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Offers Tabs Close-->

<!--Catalog Grid-->
<section class="catalog-grid">
    <div class="container">
        <h2 class="dark-color">Catalog picks</h2>
        <div class="row" data-view="product-picks-list" data-grid-size="col-lg-3 col-md-4 col-sm-6">
        </div>
    </div>
</section><!--Catalog Grid Close-->

<!--Info Block with Image Background-->
<section style="background-image: url(img/info-blocks/parallax-bg-img1.jpg);" class="info-block-image" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <h2>Eco-friendly materials in our shop</h2>
                <div class="row">
                    <div class="icon col-lg-4 col-md-4 col-sm-4">
                        <i class="fa fa-recycle"></i>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <p class="p-style3">Let the customer know if there's anything you can be proud of. If you have a clear business concept provide a description for it. Do you have a flexible return policy or discounts for loyal customers? It's great! Tell them about it in this module. For instance, put some notes from what fabric clothing is made of in case you run an apparel store. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Info Block Close-->

<script>
    var heroSlider = new MasterSlider();
    heroSlider.control('arrows');
    heroSlider.control('bullets');
    heroSlider.setup('hero-slider', {
        width: 1140,
        height: 455,
        space: 0,
        speed: 18,
        autoplay: true,
        loop: true,
        layout: 'fullwidth',
        preload: 'all',
        view: 'basic',
        instantStartLayers: true
    });

    /*Offers Tabs
 *******************************************/
    $('.offer-tabs .tab-navs a').click(function(){
        $('.offer-tabs .tab-navs a').removeClass('active');
        $(this).addClass('active');
    });

    $('.offer-tabs .tab-navs').owlCarousel({
        itemsCustom : [
            [0, 1],
            [420, 2],
            [880, 3],
            [1200, 3]
        ],
        navigation : false,
        theme: ""
    });
</script>