<!--Categories Slider-->
<section class="category-slider">
    <div class="master-slider" id="cat-slider">

        <!--Category (Slide) 1-->
        <div class="ms-slide">
            <!--Background-->
            <img src="/masterslider/blank.gif" data-src="/img/categories/slides/bg_2.png" alt="lorem ipsum dolor sit"/>
            <!--Text-->
            <div class="ms-layer text-block" data-effect="left(50,true)" data-duration="800" data-delay="250"
                 data-ease="easeOutQuad">
                <h2 class="dark-color">Look for all bags<br/>in our shop!</h2>

                <p class="dark-color">It is of high importance to redirect a customer to the product page. Provide a
                    detailed description with a callout action. </p>
                <a class="btn btn-primary" href="#">Go to catalog</a>
                <a class="btn btn-black" href="#">Browse all</a>
            </div>
            <!--Image-->
            <img style="right: 50px;" class="ms-layer img-block" src="/img/categories/slides/slide_1.png" alt="1"
                 data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad"/>

            <div class="ms-thumb">
                <img src="/img/categories/thumbs/th_1.png" alt="1"/>

                <h3>Category</h3>
            </div>
        </div>

        <!--Category (Slide) 3-->
        <div class="ms-slide">
            <!--Background-->
            <img src="/masterslider/blank.gif" data-src="/img/categories/slides/bg_3.png" alt="lorem ipsum dolor sit"/>
            <!--Text-->
            <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250"
                 data-ease="easeOutQuad">
                <h2 class="gray-color">Look for all bags<br/>in our shop!</h2>

                <p class="gray-color">It is of high importance to redirect a customer to the product page. Provide a
                    detailed description with a callout action. </p>
                <a class="btn btn-primary" href="#">Go to catalog</a>
                <a class="btn btn-black" href="#">Browse all</a>
            </div>
            <!--Image-->
            <img style="right: 0;" class="ms-layer img-block" src="/img/categories/slides/slide_1.png" alt="3"
                 data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad"/>

            <div class="ms-thumb">
                <img src="/img/categories/thumbs/th_1.png" alt="1"/>

                <h3>Category</h3>
            </div>
        </div>

        <!--Category (Slide) 2-->
        <div class="ms-slide">
            <!--Background-->
            <img src="/masterslider/blank.gif" data-src="/img/categories/slides/bg_1.png" alt="lorem ipsum dolor sit"/>
            <!--Text-->
            <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250"
                 data-ease="easeOutQuad">
                <h2 class="light-color">Look for all bags<br/>in our shop!</h2>

                <p class="light-color">It is of high importance to redirect a customer to the product page. Provide a
                    detailed description with a callout action. </p>
                <a class="btn btn-primary" href="#">Go to catalog</a>
                <a class="btn btn-black" href="#">Browse all</a>
            </div>
            <!--Image-->
            <img style="right: 50px;" class="ms-layer img-block" src="/img/categories/slides/slide_1.png" alt="2"
                 data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad"/>

            <div class="ms-thumb">
                <img src="/img/categories/thumbs/th_1.png" alt="1"/>

                <h3>Category</h3>
            </div>
        </div>

        <!--Category (Slide) 4-->
        <div class="ms-slide">
            <!--Background-->
            <img src="/masterslider/blank.gif" data-src="/img/categories/slides/bg_3.png" alt="lorem ipsum dolor sit"/>
            <!--Text-->
            <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250"
                 data-ease="easeOutQuad">
                <h2 class="gray-color">Look for all bags<br/>in our shop!</h2>

                <p class="gray-color">It is of high importance to redirect a customer to the product page. Provide a
                    detailed description with a callout action. </p>
                <a class="btn btn-primary" href="#">Go to catalog</a>
                <a class="btn btn-black" href="#">Browse all</a>
            </div>
            <!--Image-->
            <img style="right: 60px;" class="ms-layer img-block" src="/img/categories/slides/slide_1.png" alt="4"
                 data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad"/>

            <div class="ms-thumb">
                <img src="/img/categories/thumbs/th_1.png" alt="1"/>

                <h3>Category</h3>
            </div>
        </div>

        <!--Category (Slide) 5-->
        <div class="ms-slide">
            <!--Background-->
            <img src="/masterslider/blank.gif" data-src="/img/categories/slides/bg_2.png" alt="lorem ipsum dolor sit"/>
            <!--Text-->
            <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250"
                 data-ease="easeOutQuad">
                <h2 class="dark-color">Look for all bags<br/>in our shop!</h2>

                <p class="dark-color">It is of high importance to redirect a customer to the product page. Provide a
                    detailed description with a callout action. </p>
                <a class="btn btn-primary" href="#">Go to catalog</a>
                <a class="btn btn-black" href="#">Browse all</a>
            </div>
            <!--Image-->
            <img style="right: 60px;" class="ms-layer img-block" src="/img/categories/slides/slide_1.png" alt="5"
                 data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad"/>

            <div class="ms-thumb">
                <img src="/img/categories/thumbs/th_1.png" alt="1"/>

                <h3>Category</h3>
            </div>
        </div>

    </div>
</section><!--Categories Slider Close-->

<!--Catalog Grid-->
<section class="catalog-grid">
    <div class="container">
        <h2>Newcomers</h2>
        <div class="row" data-view="product-grid-list" data-grid-size="col-lg-3 col-md-4 col-sm-6"></div>
    </div>
</section><!--Catalog Grid Close-->

<!--Info Block with Image Background-->
<section style="background-image: url(img/info-blocks/parallax-bg-img1.jpg);" class="info-block-image"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <h2>Eco-friendly materials in our shop</h2>

                <div class="row">
                    <div class="icon col-lg-4 col-md-4 col-sm-4">
                        <i class="fa fa-recycle"></i>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <p class="p-style3">Let the customer know if there's anything you can be proud of. If you have a
                            clear business concept provide a description for it. Do you have a flexible return policy or
                            discounts for loyal customers? It's great! Tell them about it in this module. For instance,
                            put some notes from what fabric clothing is made of in case you run an apparel store. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Info Block Close-->

<script>
    var categorySlider = new MasterSlider();
    categorySlider.control('thumblist', {
        autohide: false,
        dir: 'h',
        type: 'tabs',
        width: 164,
        height: 280,
        align: 'bottom',
        space: 30,
        margin: 13,
        hideUnder: 400
    });
    categorySlider.setup('cat-slider', {
        width: 1050,
        height: 550,
        space: 0,
        speed: 25,
        layout: 'fullwidth',
        preload: 'all',
        view: 'basic',
        instantStartLayers: true
    });
</script>
