<!--Hero Slider-->
<section class="hero-slider">
    <div class="master-slider" id="hero-slider">

        <!--Slide 1-->
        <div class="ms-slide" data-delay="7">
            <div class="overlay"></div>
            <img src="/masterslider/blank.gif" data-src="/img/hero/slideshow/slide_1.jpg" alt=""/>

            <h2 style="width: 456px; left: 110px; top: 110px;" class="dark-color ms-layer" data-effect="top(50,true)"
                data-duration="700" data-delay="250" data-ease="easeOutQuad">Look for all bags at our shop!</h2>

            <p style="width: 456px; left: 110px; top: 210px;" class="dark-color ms-layer" data-effect="back(500)"
               data-duration="700" data-delay="500" data-ease="easeOutQuad">In this slider (which works both on touch
                screen and desktop devices) you can change the title, the description and button texts. It's all that
                you need to demonstrate your top rated products. </p>

            <div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="left(50,true)"
                 data-duration="500" data-delay="750" data-ease="easeOutQuad"><a class="btn btn-black" href="#">Go to
                catalog</a></div>
            <div style="left: 350px; top: 300px;" class="ms-layer button" data-effect="bottom(50,true)"
                 data-duration="700" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#">Browse
                all</a></div>
        </div>

        <!--Slide 2-->
        <div class="ms-slide" data-delay="7">
            <span class="overlay"></span>
            <img src="/masterslider/blank.gif" data-src="/img/hero/slideshow/slide_2.jpg" alt="Necessaire"/>

            <h2 style="width: 456px; left: 110px; top: 110px;" class="dark-color ms-layer" data-effect="bottom(50,true)"
                data-duration="700" data-delay="250" data-ease="easeOutQuad">Necessaire</h2>

            <p style="width: 456px; left: 110px; top: 210px;" class="dark-color ms-layer" data-effect="bottom(50,true)"
               data-duration="700" data-delay="500" data-ease="easeOutQuad">In this slider (which works both on touch
                screen and desktop devices) you can change the title, the description and button texts. It's all that
                you need to demonstrate your top rated products. </p>

            <div style="left: 110px; top: 330px;" class="ms-layer button" data-effect="left(50,true)"
                 data-duration="500" data-delay="750" data-ease="easeOutQuad"><a class="btn btn-black" href="#">Go to
                catalog</a></div>
            <div style="left: 350px; top: 330px;" class="ms-layer button" data-effect="bottom(50,true)"
                 data-duration="700" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#">Browse
                all</a></div>
        </div>

        <!--Slide 3-->
        <div class="ms-slide" data-delay="7">
            <div class="overlay"></div>
            <img src="/masterslider/blank.gif" data-src="/img/hero/slideshow/slide_2.jpg" alt="Crescent"/>

            <h2 style="width: 456px; left: 110px; top: 110px;" class="dark-color ms-layer" data-effect="left(50,true)"
                data-duration="700" data-delay="250" data-ease="easeOutQuad">Crescent</h2>

            <p style="width: 456px; left: 110px; top: 210px;" class="dark-color ms-layer" data-effect="left(50,true)"
               data-duration="700" data-delay="500" data-ease="easeOutQuad">In this slider (which works both on touch
                screen and desktop devices) you can change the title, the description and button texts. It's all that
                you need to demonstrate your top rated products. </p>

            <div style="left: 110px; top: 330px;" class="ms-layer button" data-effect="left(50,true)"
                 data-duration="500" data-delay="750" data-ease="easeOutQuad"><a class="btn btn-black" href="#">Go to
                catalog</a></div>
            <div style="left: 350px; top: 330px;" class="ms-layer button" data-effect="bottom(50,true)"
                 data-duration="700" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#">Browse
                all</a></div>
        </div>

    </div>
</section><!--Hero Slider Close-->

<!--Categories-->
<section class="cat-tiles">
    <div class="container">
        <h2>Browse categories</h2>

        <div class="row" data-view="browse-categories-list">
        </div>
    </div>
</section><!--Categories Close-->

<!--Catalog Grid-->
<section class="catalog-grid">
    <div class="container">
        <h2 class="dark-color">Catalog picks</h2>
        <div class="row" data-view="product-picks-list" data-grid-size="col-lg-3 col-md-4 col-sm-6"></div>
    </div>
</section><!--Catalog Grid Close-->

<!--Posts/Twitter Widget-->
<section class="posts-widget">
    <div class="tw-bg"></div>
    <div class="container">
        <div class="row">
            <div class="latest-posts col-lg-8 col-md-8">
                <div class="row">
                    <div class="col-lg-3">
                        <h2 class="extra-bold">Latests posts</h2>
                        <a class="btn btn-black btn-block" href="#">To blog</a>
                    </div>
                    <div class="col-lg-9">
                        <!--Post-->
                        <div class="post row">
                            <div class="col-lg-6 col-sm-6">
                                <a href="#"><img src="/img/posts-widget/1.jpg" alt="1"/></a>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <h3><a href="#">An interesting post</a></h3>

                                <p>Write a blog to share with customers interesting facts about your products. Make them
                                    curious and you'll get co-operation. Just try it!</p>

                                <div class="author"><i class="fa fa-user"></i><a href="#">By Resoursa</a></div>
                                <div class="comments"><i class="fa fa-comment"></i><a href="#">Comments (34)</a></div>
                            </div>
                        </div>
                        <!--Post End-->
                        <!--Post-->
                        <div class="post row">
                            <div class="col-lg-6 col-sm-6">
                                <a href="#"><img src="/img/posts-widget/1.jpg" alt="2"/></a>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <h3><a href="#">Review post</a></h3>

                                <p>You probably know that giving more details is the best way to provide info about a
                                    product. Write reviews, take high-quality pictures, and that will definitely boost
                                    the sales.</p>

                                <div class="author"><i class="fa fa-user"></i><a href="#">By Jeddah</a></div>
                                <div class="comments"><i class="fa fa-comment"></i><a href="#">Comments (101)</a></div>
                            </div>
                        </div>
                        <!--Post End-->
                    </div>
                </div>
            </div>
            <div class="twitter-feed col-lg-4 col-md-4">
                <a class="tw-follow" href="//twitter.com/8Guild" target="_blank">
                    <div class="button">Follow us<i class="fa fa-twitter"></i></div>
                    <h2 class="extra-bold">On Twitter <i class="fa fa-twitter"></i></h2>
                </a>
                <!--Tweet-->
                <div class="tweet">
                    <a href="#">@Resoursa</a>

                    <p class="p-style3">Uberly impressed with the AMAZING support I constantly get from awesome!!!</p>

                    <div class="group">
                        <div class="actions">
                            <a href="#">Reply</a>
                            <a href="#">Retweet</a>
                            <a href="#">Favorite</a>
                        </div>
                        <span class="date">5 Mar 2014</span>
                    </div>
                </div>
                <!--Tweet Close-->
                <!--Tweet-->
                <div class="tweet">
                    <a href="#">@Resoursa</a>

                    <p class="p-style3">Uberly impressed with the AMAZING support I constantly get from awesome!!!</p>

                    <div class="group">
                        <div class="actions">
                            <a href="#">Reply</a>
                            <a href="#">Retweet</a>
                            <a href="#">Favorite</a>
                        </div>
                        <span class="date">5 Mar 2014</span>
                    </div>
                </div>
                <!--Tweet Close-->
            </div>
        </div>
    </div>
</section>

<!--Gallery Widget-->
<section data-view="gallery-grid-list" class="white-bg"></section>
<!--Gallery Widget Close-->

<!--Brands Carousel Widget-->
<section class="brand-carousel">
    <div class="container">
        <h2>Brands in our shop</h2>

        <div class="inner">
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
        </div>
    </div>
</section><!--Brands Carousel Close-->

<script>
    var heroSlider = new MasterSlider();
    heroSlider.control('arrows');
    heroSlider.control('bullets');
    heroSlider.setup('hero-slider', {
        width: 1140,
        height: 455,
        space: 0,
        speed: 18,
        autoplay: true,
        loop: true,
        layout: 'fullwidth',
        preload: 'all',
        view: 'basic',
        instantStartLayers: true
    });

    $('.brand-carousel .inner').owlCarousel({
        // Define custom and unlimited items depending from the width
        // If this option is set, itemsDeskop, itemsDesktopSmall, itemsTablet, itemsMobile etc. are disabled
        // For better preview, order the arrays by screen size, but it's not mandatory
        // Don't forget to include the lowest available screen size, otherwise it will take the default one for screens lower than lowest available.
        // In the example there is dimension with 0 with which cover screens between 0 and 450px
        itemsCustom: [
            [0, 1],
            [340, 2],
            [580, 3],
            [991, 4],
            [1200, 5]
        ],
        navigation: true,
        theme: "",
        navigationText: ["", ""]
    });
</script>
