<!--Hero Static-->
<section class="hero-static">
    <div class="overlay"></div>
    <div style="background-image: url(img/hero/banner_1.jpg);" class="bg-image"
         data-stellar-background-ratio="0.5"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8">
                <h1>Wristlet</h1>

                <p>We have created a page to show off your best product. Awaiting for a new arrival which everyone is
                    keen to purchase? Is a brand new product on its way? Tell more about it! </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-7">
                <a class="btn btn-primary btn-block" href="#"><span>1845$</span>Buy it now</a>
            </div>
        </div>
    </div>
</section><!--Hero Static Close-->

<!--Info Block-->
<section class="info-block">
    <div class="container">
        <div class="row">
            <div class="text col-lg-5 col-md-5 col-sm-6">
                <p>Has the customer got interest in the first slider? Provide the link to the product at once, the
                    customer may purchase it immediately. Help to do it!</p>
                <a class="btn-outlined btn-default" href="#">Read more</a>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6">
                <img class="center-block" src="img/info-blocks/1.jpg" alt="1"/>
            </div>
        </div>
    </div>
</section><!--Info Block Close-->

<!--Info Block with Image Background-->
<section style="background-image: url(img/info-blocks/parallax-bg-img1.jpg);" class="info-block-image"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <h2>Eco-friendly materials in our shop</h2>

                <div class="row">
                    <div class="icon col-lg-4 col-md-4 col-sm-4">
                        <i class="fa fa-recycle"></i>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <p class="p-style3">Let the customer know if there's anything you can be proud of. If you have a
                            clear business concept provide a description for it. Do you have a flexible return policy or
                            discounts for loyal customers? It's great! Tell them about it in this module. For instance,
                            put some notes from what fabric clothing is made of in case you run an apparel store. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Info Block Close-->

<!--Features Tabs-->
<section class="feature-tabs">
    <div class="container">
        <div class="row">
            <div class="tabs-content col-lg-6 col-md-6">
                <div class="tabs-pane current" id="tab-1">
                    <h2>Messenger</h2>

                    <p class="p-style3">Outline the main advantages a one can get by purchasing a product from your
                        store. Have you got expensive items and at the same time a flexible return policy? Make a
                        customer aware of that! </p>
                </div>
                <div class="tabs-pane" id="tab-2">
                    <h2>High quality leather</h2>

                    <p class="p-style3">Outline the main advantages a one can get by purchasing a product from your
                        store. Have you got expensive items and at the same time a flexible return policy? Make a
                        customer aware of that! </p>
                </div>
                <div class="tabs-pane" id="tab-3">
                    <h2>Smart delivery transfer</h2>

                    <p class="p-style3">Outline the main advantages a one can get by purchasing a product from your
                        store. Have you got expensive items and at the same time a flexible return policy? Make a
                        customer aware of that! </p>
                </div>
            </div>
            <div class="tabs col-lg-6 col-md-6 group">
                <span class="tab active" data-tab="#tab-1"><i class="fa fa-archive"></i></span>
                <span class="tab" data-tab="#tab-2"><i class="fa fa-recycle"></i></span>
                <span class="tab" data-tab="#tab-3"><i class="fa fa-gift"></i></span>
            </div>
        </div>
    </div>
    <img src="img/features/lens.jpg" alt="Messenger"/>
</section>
<!--Features Tabs Close-->

<!--Technical Specifications-->
<section class="gray-bg tech-specs">
    <div class="container">
        <div class="row">
            <!--Column 1-->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <!--Item-->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3"><i class="fa fa-dollar"></i><span>Best Price</span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Affordable prices</p></div>
                    </div>
                </div>
                <!--Item-->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3"><i class="fa fa-umbrella"></i><span>Materials</span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Waterproof materials</p></div>
                    </div>
                </div>
                <!--Item-->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3"><i
                                class="fa fa-sort-numeric-asc"></i><span>City bags</span></div>
                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Any size</p></div>
                    </div>
                </div>
                <!--Item-->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3"><i class="fa fa-smile-o"></i><span>Mentions</span></div>
                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Give a smile</p></div>
                    </div>
                </div>
                <!--Item-->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3"><i class="fa fa-recycle"></i><span>Eco activity</span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Eco-friendly materials</div>
                    </div>
                </div>
                <!--Item-->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4"><i class="fa fa-archive"></i><span>Package</span></div>
                        <div class="col-lg-8 col-md-8 col-sm-8"><p class="p-style2">Individual packing</p></div>
                    </div>
                </div>
            </div>
            <!--Column 2-->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <!--Item-->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3"><i class="fa fa-umbrella"></i><span>Materials</span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Waterproof materials</p></div>
                    </div>
                </div>
                <!--Item-->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4"><i class="fa fa-archive"></i><span>Package</span></div>
                        <div class="col-lg-8 col-md-8 col-sm-8"><p class="p-style2">Individual packing</p></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3"><i class="fa fa-smile-o"></i><span>Mentions</span></div>
                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Give a smile</p></div>
                    </div>
                </div>
                <!--Item-->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3"><i class="fa fa-dollar"></i><span>Best Price</span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Affordable prices</p></div>
                    </div>
                </div>
                <!--Item-->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3"><i class="fa fa-recycle"></i><span>Eco activity</span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Eco-friendly materials</div>
                    </div>
                </div>
                <!--Item-->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3"><i
                                class="fa fa-sort-numeric-asc"></i><span>City bags</span></div>
                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Any size</p></div>
                    </div>
                </div>
                <!--Item-->
            </div>
        </div>
    </div>
</section><!--Technical Specifications Close-->

<!--Gallery Widget-->
<section class="white-bg gallery-widget">
    <div class="container">
        <h2>Product gallery</h2>

        <div class="filters">
            <a class="active" href="#" data-group="all">All</a>
            <a href="#" data-group="City bags">City bags</a>
            <a href="#" data-group="Gloves">Gloves</a>
            <a href="#" data-group="Belts">Belts</a>
            <a href="#" data-group="video">Clutch</a>
        </div>
        <div class="gallery-grid">
            <!--Item-->
            <div class="gallery-item" data-groups='["City bags"]' data-src="img/gallery-widget/1.jpg">
                <a href="img/gallery-widget/1.jpg">
                    <div class="overlay"><span><i class="icon-expand"></i></span></div>
                    <img src="img/gallery-widget/1.jpg" alt="1"/>
                </a>
            </div>
            <!--Item-->
            <div class="gallery-item" data-groups='["City bags"]' data-src="img/gallery-widget/2.jpg">
                <a href="img/gallery-widget/2.jpg">
                    <div class="overlay"><span><i class="icon-expand"></i></span></div>
                    <img src="img/gallery-widget/2.jpg" alt="2"/>
                </a>
            </div>
            <!--Item-->
            <div class="gallery-item" data-groups='["video"]'
                 data-src="http://www.youtube.com/watch?v=eKG08z85DtY?feature=player_embedded">
                <a href="#">
                    <div class="overlay"><span><i class="icon-music-play"></i></span></div>
                    <img src="img/gallery-widget/5.jpg" alt="3"/>
                </a>
            </div>
            <!--Item-->
            <div class="gallery-item" data-groups='["Belts"]' data-src="img/gallery-widget/4.jpg">
                <a href="img/gallery-widget/4.jpg">
                    <div class="overlay"><span><i class="icon-expand"></i></span></div>
                    <img src="img/gallery-widget/4.jpg" alt="4"/>
                </a>
            </div>
            <!--Item-->
            <div class="gallery-item" data-groups='["Gloves"]' data-src="img/gallery-widget/5.jpg">
                <a href="img/gallery-widget/5.jpg">
                    <div class="overlay"><span><i class="icon-expand"></i></span></div>
                    <img src="img/gallery-widget/5.jpg" alt="5"/>
                </a>
            </div>
            <!--Item-->
            <div class="gallery-item" data-groups='["Gloves"]' data-src="img/gallery-widget/5.jpg">
                <a href="img/gallery-widget/5.jpg">
                    <div class="overlay"><span><i class="icon-expand"></i></span></div>
                    <img src="img/gallery-widget/5.jpg" alt="6"/>
                </a>
            </div>
        </div>
    </div>
</section><!--Gallery Widget Close-->

<!--Testimonials Widget-->
<section class="testmns-widget">
    <div class="container">
        <h2 class="light-color">What people say</h2>

        <div class="row">
            <div id="testimonials-slider" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#testimonials-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonials-slider" data-slide-to="1"></li>
                    <li data-target="#testimonials-slider" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4">
                                    <img src="img/people/1.png" width="192" height="192" alt="Dexter Dirk"/>
                                </div>
                                <div class="col-lg-8 col-md-9 col-sm-8">
                                    <blockquote>
                                        <p class="text-light">Are there any reviews from satisfied customers? It's
                                            better to show them off next to the customer’s photo.</p>
                                        <footer class="text-light">Someone famous in Source Title</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4">
                                    <img src="img/people/1.png" width="192" height="192" alt="Richard Roe"/>
                                </div>
                                <div class="col-lg-8 col-md-9 col-sm-8">
                                    <blockquote>
                                        <p class="text-light">Are there any reviews from satisfied customers? It's
                                            better to show them off next to the customer’s photo.</p>
                                        <footer class="text-light">Someone famous in Source Title</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4">
                                    <img src="img/people/1.png" width="192" height="192" alt="Jonathan Doe"/>
                                </div>
                                <div class="col-lg-8 col-md-9 col-sm-8">
                                    <blockquote>
                                        <p class="text-light">Are there any reviews from satisfied customers? It's
                                            better to show them off next to the customer’s photo.</p>
                                        <footer class="text-light">Someone famous in Source Title</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Testimonials Widget Close-->

<!--Info Block with Parallax Background-->
<section style="background-image: url(img/info-blocks/parallax-bg-img1.jpg);" class="info-block-image"
         data-stellar-vertical-offset="530" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="color-box">
                    <h2>So you need this theme</h2>

                    <div class="tiles">
                        <div><i class="fa fa-truck"></i><span>Free delivery</span></div>
                        <div><i class="fa fa-space-shuttle"></i><span>Deliver even on Mars</span></div>
                        <div><i class="fa fa-shield"></i><span>Safe buy</span></div>
                    </div>
                    <a class="btn btn-primary" href="#">Buy it now</a>
                </div>
            </div>
        </div>
    </div>
</section><!--Info Block Close-->

<script>
    /*Parallax Backgrounds
 *******************************************/
    /*Checking if it's touch device we disable parallax feature due to inconsistency*/
    if (Modernizr.touch) {
        $('body').removeClass('parallax');
    } else {
        $('body').addClass('parallax');
    }
    $('.parallax').stellar({
        horizontalScrolling: false,
        responsive: true
    });

    /*Features Tabs
     *******************************************/
    $('.feature-tabs .tab').on('mouseover', function () {
        $('.feature-tabs .tab').removeClass('active');
        $(this).addClass('active');
        var $curTab = $(this).attr('data-tab');
        $('.feature-tabs .tabs-pane').removeClass('current');
        $('.feature-tabs .tabs-pane' + $curTab).addClass('current');
    });

    /*Gallery Filtering and Responsiveness Function
*******************************************/
    var gallery = (function ($) {
        'use strict';

        var $grid = $('.gallery-grid'),
                $filterOptions = $('.filters'),
                $sizer = $grid.find('.shuffle__sizer'),

                init = function () {

                    // None of these need to be executed synchronously
                    setTimeout(function () {
                        listen();
                        setupFilters();
                    }, 100);

                    $grid.on('loading.shuffle done.shuffle shrink.shuffle shrunk.shuffle filter.shuffle filtered.shuffle sorted.shuffle layout.shuffle', function (evt, shuffle) {
                        // Make sure the browser has a console
                        if (window.console && window.console.log && typeof window.console.log === 'function') {
                            console.log('Shuffle:', evt.type);
                        }
                    });

                    // instantiate the plugin
                    $grid.shuffle({
                        itemSelector: '.gallery-item',
                        sizer: $sizer
                    });
                },

        // Set up button clicks
                setupFilters = function () {
                    var $btns = $filterOptions.children();
                    $btns.on('click', function (e) {
                        var $this = $(this),
                                isActive = $this.hasClass('active'),
                                group = $this.data('group');
                        $('.filters .active').removeClass('active');
                        $this.addClass('active');

                        // Filter elements
                        $grid.shuffle('shuffle', group);
                        e.preventDefault();
                    });

                    $btns = null;
                },

                listen = function () {
                    var debouncedLayout = $.throttle(300, function () {
                        $grid.shuffle('update');
                    });

                    // Get all images inside shuffle
                    $grid.find('img').each(function () {
                        var proxyImage;

                        // Image already loaded
                        if (this.complete && this.naturalWidth !== undefined) {
                            return;
                        }

                        // If none of the checks above matched, simulate loading on detached element.
                        proxyImage = new Image();
                        $(proxyImage).on('load', function () {
                            $(this).off('load');
                            debouncedLayout();
                        });

                        proxyImage.src = this.src;
                    });

                    // Because this method doesn't seem to be perfect.
                    setTimeout(function () {
                        debouncedLayout();
                    }, 500);
                };

        return {
            init: init
        };
    }(jQuery));

    $(function () {
        gallery.init();
        $('.gallery-grid').lightGallery({
            speed: 400
        });
    });

    /*Enable Touch / swipe events for carousel
 *******************************************/
    $(".carousel-inner").swipe( {
        //Generic swipe handler for all directions
        swipeRight:function(event, direction, distance, duration, fingerCount) {
            $(this).parent().carousel('prev');
        },
        swipeLeft: function() {
            $(this).parent().carousel('next');
        },
        //Default is 75px, set to 0 for demo so any distance triggers swipe
        threshold:0
    });

</script>