<!--Breadcrumbs-->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Shop - no filters 3 cols</li>
</ol><!--Breadcrumbs Close-->

<!--Catalog Grid-->
<section class="catalog-grid">
    <div class="container">
        <h2 class="with-sorting">No filters 3 columns</h2>

        <div class="sorting">
            <a href="#">Sort by name</a>
            <a href="#">Sort by price</a>
        </div>
        <div class="row" data-view="product-grid-list" data-grid-size="col-lg-4 col-md-4 col-sm-6"></div>
        <!--Pagination-->
        <ul class="pagination" data-view="pagination-view"></ul>
    </div>
</section><!--Catalog Grid Close-->

<!--Brands Carousel Widget-->
<section class="brand-carousel">
    <div class="container">
        <h2>Brands in our shop</h2>

        <div class="inner">
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
        </div>
    </div>
</section><!--Brands Carousel Close-->

<script>
    $('.brand-carousel .inner').owlCarousel({
        // Define custom and unlimited items depending from the width
        // If this option is set, itemsDeskop, itemsDesktopSmall, itemsTablet, itemsMobile etc. are disabled
        // For better preview, order the arrays by screen size, but it's not mandatory
        // Don't forget to include the lowest available screen size, otherwise it will take the default one for screens lower than lowest available.
        // In the example there is dimension with 0 with which cover screens between 0 and 450px
        itemsCustom: [
            [0, 1],
            [340, 2],
            [580, 3],
            [991, 4],
            [1200, 5]
        ],
        navigation: true,
        theme: "",
        navigationText: ["", ""]
    });
</script>
