<!--Breadcrumbs-->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Wishlist</li>
</ol><!--Breadcrumbs Close-->

<!--Shopping Cart Message-->
<section class="cart-message">
    <i class="fa fa-check-square"></i>
    <p class="p-style3">"Nikon" was successfully added to your cart.</p>
    <a class="btn-outlined-invert btn-black btn-sm" href="shopping-cart">View cart</a>
</section><!--Shopping Cart Message Close-->

<!--Wishlist-->
<section class="wishlist">
    <div class="container">
        <div class="row">

            <!--Items List-->
            <div class="col-lg-9 col-md-9">
                <h2 class="title">Wishlist</h2>
                <table class="items-list">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Product name</th>
                        <th>Product price</th>
                    </tr>
                    <!--Item-->
                    <tr class="item first">
                        <td class="thumb"><a href="/shop-single-item-v1"><img src="/img/catalog/shopping-cart-thumb.jpg"
                                                                              alt="Lorem ipsum"/></a></td>
                        <td class="name"><a href="/shop-single-item-v1">Wristlet</a></td>
                        <td class="price">$715.00</td>
                        <td class="button"><a class="btn btn-primary btn-sm" href="#"><i class="icon-shopping-cart"></i>Add
                            to cart</a></td>
                        <td class="delete"><i class="icon-delete"></i></td>
                    </tr>
                    <!--Item-->
                    <tr class="item first">
                        <td class="thumb"><a href="/shop-single-item-v1"><img src="/img/catalog/shopping-cart-thumb.jpg"
                                                                              alt="Lorem ipsum"/></a></td>
                        <td class="name"><a href="/shop-single-item-v1">Wristlet</a></td>
                        <td class="price">$715.00</td>
                        <td class="button"><a class="btn btn-primary btn-sm" href="#"><i class="icon-shopping-cart"></i>Add
                            to cart</a></td>
                        <td class="delete"><i class="icon-delete"></i></td>
                    </tr>
                    <!--Item-->
                    <tr class="item first">
                        <td class="thumb"><a href="/shop-single-item-v1"><img src="/img/catalog/shopping-cart-thumb.jpg"
                                                                              alt="Lorem ipsum"/></a></td>
                        <td class="name"><a href="/shop-single-item-v1">Wristlet</a></td>
                        <td class="price">$715.00</td>
                        <td class="button"><a class="btn btn-primary btn-sm disabled" href="#">Out of stock</a></td>
                        <td class="delete"><i class="icon-delete"></i></td>
                    </tr>
                    <!--Item-->
                    <tr class="item first">
                        <td class="thumb"><a href="/shop-single-item-v1"><img src="/img/catalog/shopping-cart-thumb.jpg"
                                                                              alt="Lorem ipsum"/></a></td>
                        <td class="name"><a href="/shop-single-item-v1">Wristlet</a></td>
                        <td class="price">$715.00</td>
                        <td class="button"><a class="btn btn-primary btn-sm" href="#"><i class="icon-shopping-cart"></i>Add
                            to cart</a></td>
                        <td class="delete"><i class="icon-delete"></i></td>
                    </tr>
                    <!--Item-->
                    <tr class="item first">
                        <td class="thumb"><a href="/shop-single-item-v1"><img src="/img/catalog/shopping-cart-thumb.jpg"
                                                                              alt="Lorem ipsum"/></a></td>
                        <td class="name"><a href="/shop-single-item-v1">Wristlet</a></td>
                        <td class="price">$715.00</td>
                        <td class="button"><a class="btn btn-primary btn-sm disabled" href="#">Out of stock</a></td>
                        <td class="delete"><i class="icon-delete"></i></td>
                    </tr>
                </table>
            </div>

            <!--Sidebar-->
            <div class="col-lg-3 col-md-3">
                <h3>Have a coupon?</h3>

                <form class="coupon" name="coupon-code" method="post">
                    <div class="form-group">
                        <label class="sr-only" for="coupon-code">Enter coupon code</label>
                        <input type="text" class="form-control" id="coupon-code" name="coupon-code"
                               placeholder="Enter coupon code">
                    </div>
                    <input type="submit" class="btn btn-primary btn-sm btn-block" name="apply-coupon"
                           value="Apply coupon">
                </form>
                <!--Top items-->
                <h3 class="space-top">Top items</h3>

                <div class="top-item">
                    <div class="price-label">$715.00</div>
                    <a href="#"><img src="/img/offers/special-offer.png" alt="Special Offer"/></a>

                    <div class="footer"><a href="#">The Buccaneer</a></div>
                </div>
                <div class="top-item">
                    <div class="price-label">$715.00</div>
                    <a href="#"><img src="/img/offers/special-offer.png" alt="Special Offer"/></a>

                    <div class="footer"><a href="#">The Buccaneer</a></div>
                </div>
            </div>
        </div>
    </div>
</section><!--Wishlist Close-->

<!--Catalog Grid-->
<section class="catalog-grid">
    <div class="container">
        <h2>You may also like</h2>

        <div class="row">
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="badges">
                        <span class="sale">Sale</span>
                    </div>
                    <div class="price-label">$715.00</div>
                    <a href="#">
                        <img src="/img/catalog/1.png" alt="1"/>
                        <span class="tile-overlay"></span>
                    </a>

                    <div class="footer">
                        <a href="#" class="name">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <button class="btn btn-primary addItemToCart">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="badges">
                        <span class="out">Out</span>
                    </div>
                    <div class="price-label">$715.00</div>
                    <div class="price-label old-price">$920.00</div>
                    <a href="#">
                        <img src="/img/catalog/1.png" alt="1"/>
                        <span class="tile-overlay"></span>
                    </a>

                    <div class="footer">
                        <a href="#" class="name">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <button class="btn btn-primary addItemToCart">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="badges">
                        <span class="best-seller">Best Seller</span>
                    </div>
                    <div class="price-label">$715.00</div>
                    <a href="#">
                        <img src="/img/catalog/1.png" alt="1"/>
                        <span class="tile-overlay"></span>
                    </a>

                    <div class="footer">
                        <a href="#" class="name">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <button class="btn btn-primary addItemToCart">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">$715.00</div>
                    <a href="#">
                        <img src="/img/catalog/1.png" alt="1"/>
                        <span class="tile-overlay"></span>
                    </a>

                    <div class="footer">
                        <a href="#" class="name">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <button class="btn btn-primary addItemToCart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Catalog Grid Close-->

<!--Brands Carousel Widget-->
<section class="brand-carousel">
    <div class="container">
        <h2>Brands in our shop</h2>

        <div class="inner">
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="/img/brands/1.png" alt="1"/></a>
        </div>
    </div>
</section><!--Brands Carousel Close-->

<script>

    $('.brand-carousel .inner').owlCarousel({
        // Define custom and unlimited items depending from the width
        // If this option is set, itemsDeskop, itemsDesktopSmall, itemsTablet, itemsMobile etc. are disabled
        // For better preview, order the arrays by screen size, but it's not mandatory
        // Don't forget to include the lowest available screen size, otherwise it will take the default one for screens lower than lowest available.
        // In the example there is dimension with 0 with which cover screens between 0 and 450px
        itemsCustom: [
            [0, 1],
            [340, 2],
            [580, 3],
            [991, 4],
            [1200, 5]
        ],
        navigation: true,
        theme: "",
        navigationText: ["", ""]
    });

    /*Wishlist Deleting Items
     *******************************************/
    $(document).on('click', '.wishlist .delete i', function () {
        var $target = $(this).parent().parent();
        $target.hide(300, function () {
            $.when($target.remove()).then(function () {
                if ($positions.length === 1) {
                    $('.wishlist .items-list').remove();
                    $('.wishlist .title').text('Wishlist is empty!');
                }
            });
        });
    });

</script>
