<div id="product-list-description" class="product-list-description">
    <h1>Welcome to Gulf Packaging Online Ordering</h1>
    <p>Click on a category to the left or use the search above to find your products.</p>
</div>