<div class="container">

    <ul class="main">
        <li class="has-submenu"><a href=""><span>H</span>ome<i class="fa fa-chevron-down"></i></a><!--Class "has-submenu" for proper highlighting and dropdown-->
            <ul class="submenu">
                <li><a href="/">Home - Signin</a></li>
                <li><a href="/index">Home - Slideshow</a></li>
                <li><a href="/home-fullscreen">Home - Fullscreen Slider</a></li>
                <li><a href="/home-showcase">Home - Product Showcase</a></li>
                <li><a href="/home-categories">Home - Categories Slider</a></li>
                <li><a href="/home-offers">Home - Special Offers</a></li>
            </ul>
        </li>
        <li class="has-submenu"><a href="/shop-filters-left-3cols"><span>S</span>hop<i
                class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="/shop-filters-left-3cols">Shop - Filters Left 3 Cols</a></li>
                <li><a href="/shop-filters-left-2cols">Shop - Filters Left 2 Cols</a></li>
                <li><a href="/shop-filters-right-3cols">Shop - Filters Right 3 Cols</a></li>
                <li><a href="/shop-filters-right-2cols">Shop - Filters Right 2 Cols</a></li>
                <li><a href="/shop-no-filters-4cols">Shop - No Filters 4 Cols</a></li>
                <li><a href="/shop-no-filters-3cols">Shop - No Filters 3 Cols</a></li>
                <li><a href="/shop-single-item-v1">Shop - Single Item Vers 1</a></li>
                <li><a href="/shop-single-item-v2">Shop - Single Item Vers 2</a></li>
                <li><a href="/shopping-cart">Shopping Cart</a></li>
                <li><a href="/checkout">Checkout Page</a></li>
                <li><a href="/wishlist">Wishlist</a></li>
            </ul>
        </li>
        <li class="has-submenu"><a href="/blog-sidebar-right"><span>B</span>log<i
                class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="/blog-sidebar-left">Blog - Sidebar Left</a></li>
                <li><a href="/blog-sidebar-right">Blog - Sidebar Right</a></li>
                <li><a href="/blog-single">Blog - Single Post</a></li>
            </ul>
        </li>
        <li class="has-submenu"><a href="#"><span>P</span>ages<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="/register">Login / Registration</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/404">404 Page</a></li>
                <li><a href="/support">Support Page</a></li>
                <li><a href="/delivery">Delivery</a></li>
                <li><a href="/history">History Page</a></li>
                <li><a href="/tracking">Tracking Page</a></li>
                <li><a href="/cs-page">Components &amp; Styles</a></li>
            </ul>
        </li>
        <li class="hide-sm"><a href="/support"><span>S</span>upport</a></li>
    </ul>

</div>

<div class="catalog-block">
    <div class="container">
        <ul class="catalog">
            <li class="has-submenu"><a href="/shop-filters-left-3cols">Handbag<i
                    class="fa fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="#">Wristlet</a></li>
                    <li class="has-submenu"><a href="#">Backpack</a><!--Class "has-submenu" for adding carret and dropdown-->
                        <ul class="sub-submenu">
                            <li><a href="#">KATA</a></li>
                            <li><a href="#">Think Tank</a></li>
                            <li><a href="#">Manfrotto</a></li>
                            <li><a href="#">Lowepro</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Hat box</a></li>
                    <li class="has-submenu"><a href="#">Clutch</a>
                        <ul class="sub-submenu">
                            <li><a href="#">Louis Vuitton</a></li>
                            <li><a href="#">Chanel</a></li>
                            <li><a href="#">Christian Dior</a></li>
                            <li><a href="#">Gucci</a></li>
                            <li><a href="#">Neri Karra</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Envelope</a></li>
                    <li class="offer">
                        <div class="col-1">
                            <p class="p-style2">Use product images on the menu. It's easier to percept a visual
                                content than a textual one. </p>
                        </div>
                        <div class="col-2">
                            <img src="/img/offers/menu-drodown-offer.jpg" alt="Special Offer"/>
                            <a class="btn btn-black" href="#"><span>584$</span>Special offer</a>
                        </div>
                    </li>
                </ul>
            </li>
            <li><a href="/shop-filters-left-3cols">Wallet</a></li>
            <li><a href="/shop-filters-left-3cols">Satchel</a></li>
            <li><a href="/shop-filters-left-3cols">Clutch</a></li>
            <li><a href="/shop-filters-left-3cols">Hobo bags</a></li>
            <li><a href="/shop-filters-left-3cols">Shoulder Bag</a></li>
        </ul>
    </div>
</div>
