<div class="col-sm-offset-8 col-sm-4">
    <div class="pallet-totals form-horizontal">
        <div class="form-group">
            <div class="col-sm-9 control-label">Pallets In Cart:</div>
            <p class="pallets-in-cart col-sm-3 form-control-static">{{palletsInCart}}</p>
        </div>

        <div class="form-group">
            <div class="col-sm-9 control-label">Pallets To Be Added:</div>
            <p class="pallets-to-add col-sm-3 form-control-static">0.00</p>
        </div>

        <div class="form-group">
            <div class="col-sm-9 control-label">New Total Pallets:</div>
            <p class="new-total-pallets col-sm-3 form-control-static">0.00</p>
        </div>

        <div class="form-group">
        <div class="col-sm-12 control-label text-right">
            <button class="add-all-to-cart btn btn-default"><i class="icon-shopping-cart"></i> Add All Items to Cart
            </button>
        </div>
            </div>
    </div>
</div>