<!--Price Section-->
<section class="filter-section">
    <h3>Filter by price</h3>
    <form method="get" name="price-filters">
        <span class="clear" id="clearPrice" >Clear price</span>
        <div class="price-slider">
            <div id="price-range"></div>
            <div class="values group">
                <!--data-min-val represent minimal price and data-max-val maximum price respectively in pricing slider range; value="" - default values-->
                <input class="form-control" name="minPrice" id="minPrice" type="text" data-min-val="0" value="10">
                <span class="labels">$ - </span>
                <input class="form-control" name="maxPrice" id="maxPrice" type="text" data-max-val="2500" value="500">
                <span class="labels">$</span>
            </div>
        </div>
    </form>
</section>