<div id="product-limit" style="display: none;">
    <span id="show-page" class="rightAlign">
        <label for="show-page-option">Show:</label>
        <select id="show-page-option" class="form-control">showPageOption
            {{#select value}}
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            {{/select}}
        </select>
    </span>
</div>