<!--Tab2 (Description)-->
<div class="tab-pane fade" id="descr">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-5">
                <img class="center-block" src="{{itemdescimage}}" alt="{{itemdescimagealt}}"/>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-7">
                <p class="p-style2">{{itemcodedesc}}</p>
                <div class="row">
                    {{#if itemdesclist}}}
                        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                            <h4>itemdesclist.title</h4>
                            <ul>
                                {{#each itemdesclist.list}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
