<a href="/categories/{{category}}">
    <div style="display: flex; align-items: center">
        <img src="/img/products/{{categoryimage}}" alt="{{categorydescription}}" class="img-responsive center-block" />
    </div>

    <p>{{categorydescription}}</p>
</a>
