
/*******************************************************************************
 * 	Header styles
 ******************************************************************************/
#header {
	width: 100%;
}
.navbar {
    min-height: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    /*margin-bottom: 20px;*/
    border-width: 0 0 21px 0;
    border-color: #363636;
    border-style: solid;
}

.home-link-div {
    height: 0;
}

#home-link-fixedflex {
    position: relative;
    left: -70px;
    top: -92px;
    z-index: 1009;
}

#home-link-home {
    position: relative;
    left: -55px;
    top: -77px;
    z-index: 1009;
}

#cart {
    cursor: pointer;
}
#cart:hover {
    text-decoration: underline;
}
#logout a {
	color: #ffffff;
}
#logout span {
	padding: 2px;
}
#cart-bar {
    float: right;
    background-color: #666;
    color: #ffffff;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
#cart-logo {
	width: 14px;
	height: 14px;
	padding: 2px;
	border-radius: 2px;
	background-position: -358px -118px;
	margin-right: 5px;
	margin-top: -1px;
}
#search {
	float: right;
	background-color: #666666;
	padding: 5px;
	height: 41px;
	border-radius: 0 0 5px 5px;
	margin-right: 10px;
}

#search-logo {
	position: relative;
	display: block;
	z-index: 1;
	top: 8px;
	margin-left: 5px;
	width: 16px;
}

#search-text {
	width: 200px;
	top: -10px;
	position: relative;
	border-radius: 5px 0 0 5px;
	border: 1px solid #cccccc;
	padding-left: 18px;
	left: 2px;
}

#search-button {
	height: 24px;
	position: relative;
	left: -2px;
	top: -10px;
	border: 1px solid #666666;
	border-radius: 0 5px 5px 0;
	
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#969696));
	background-image: -webkit-linear-gradient(top, #ffffff, 0%, #969696, 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #969696 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #969696 100%);
	background-repeat: repeat-x;
	border-color: #e0e0e0;
	border-color: #cccccc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ff969696', GradientType=0);
}

#search-button:hover {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#767676));
	background-image: -webkit-linear-gradient(top, #ffffff, 0%, #767676, 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #767676 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #767676 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ff767676', GradientType=0);
}

/*******************************************************************************
 * 	Footer styles
 ******************************************************************************/
/* To make the color extend below the footer, make the html red and switch it just for the body*/
html {
    background-color: #7A0026;
}
#footer {
    /*background-color: #7A0026;*/
    /*margin-top: 30px;*/
    padding: 20px;
    min-height: 138px;
    position: absolute;
    /*bottom: calc(100% - 138px);*/
    width: 100%;
    border-width: 30px 0 0 0;
    border-color: #363636;
    border-style: solid;
}
#the-local-national-people span {
    font-family: sans-serif;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
}
#the-local,
#learn-how-we-can-help {
    color: #ffffff;
    padding-top: 20px;
}
#national-people {
    color: #D92D27;
}
#copyright {
    color: #ffffff;
    font-size: 11px;
    text-align: center;
    float: left;
    margin-left: 45%;
    min-height: 30px;
    padding-top: 20px;
}
/*#learn-how-we-can-help {*/
    /*float: right;*/
    /*margin-right: 37%;*/
    /*font-size: 12px;*/
/*}*/


/*******************************************************************************
 * 	Nav styles
 ******************************************************************************/
/* Base styles */
#main-nav {
	background: #eee;
	border-radius: 5px;
    margin-top: 50px;
}
#main-nav ul {
	margin: 0;
}
#main-nav li {
	list-style: none;
}
#main-nav li > a {
    color: #000000;
}

#main-nav li a span.glyphicon {
	font-size: 10px;
	margin-top: 3px;
	vertical-align: top;
}
/* this is for making the background fill the whole width of the nav for sub items */
.nav .nav li > a {
	margin-left: -10px;
	padding-left: 25px;
}
/* Level1 styles */
#main-nav ul.level1 > li > a {
    color: #000000;
}
/* Level1 styles */
#main-nav ul.level2 > li > a {
	color: #000000;
}

#main-nav .nav>li>a:hover,
#main-nav .nav>li>a:focus  {
	background-color: #666;
	color: #ffffff;
}
#main-nav .nav-pills>li.active>a,
#main-nav .nav-pills>li.active>a:hover,
#main-nav .nav-pills>li.active>a:focus {
    color: #ffffff;
    background-color: #B80000;
}


/*******************************************************************************
 * 	Content Generic Styles
 ******************************************************************************/

#content {
    min-height: 400px;
    /*min-height: calc(100% - 238px);*/
}
body > section.container {
    /*min-height: 700px;*/
    min-height: calc(100% - 238px);
    margin-top: 100px;
    /*margin-bottom: 20px;*/
}

#content > .header {
    border-bottom: 1px dotted #666;
}

.spacing-p {
    margin-bottom: 10px;
}

/*******************************************************************************
 * 	Product List Styles
 ******************************************************************************/
.item .item-pricing {
    padding-top: 10px;
    padding-bottom: 10px;
}
.item .item-pricing .form-group {
    margin-bottom: 0;
}
.item .item-pricing .input-sm {
    height: 27px;
    margin-top: 3px;
}

/*ul.product-list {*/
	/*margin-left: 0;*/
    /*margin-bottom: 0;*/
	/*padding-left: 0;*/
    /* if there's an empty cart, we don't want the footer at the top of the page */
    /*min-height: 150px;*/
/*}*/
/*ul.product-list > li {*/
	/*border-bottom: 1px dotted #666;*/
	/*list-style: none;*/
/*}*/
/*ul.product-list > li:first-child {*/
	/*border-bottom: 1px dotted #666;*/
/*}*/
.item .details {
	font-size: 13px;
}
/*.input-sm {*/
	/*width: 36px;*/
    /*padding: 5px;*/
/*}*/
.item .item-pricing > .row {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item {
    border-bottom: 1px dotted #666;
}

.item-action {
	text-align:right;
}

/*ul.product-list li.remove-from-cart {*/
	/*list-style: none;*/
/*}*/

#pagination, #pagination-top {
	text-align: center;
}

.pagination-numbers {
    /*position: absolute;*/
}

#pagination-top {
    /*position: relative;*/
    /*top: -27px;*/
    /*margin-bottom: -20px;*/
    /*height: 10px;*/
}

.pagination-previous, .pagination-next, .pagination-page {
	cursor: pointer;
	padding: 5px;
}

#show-page {
	display: block;
	padding: 10px 0;
	list-style: none;
}

#show-page-option {
	width: 75px;
	display: inline-block;
}

#show-page label {
	display: inline-block;
}

.add-to-cart {
    /*float: right;*/
    /*margin-bottom: 10px;*/
}

.top-buttons {
    float: right;
    position: relative;
    width: 100%;
    margin-right: 0px;
}

/*.bottom-buttons {*/
    /*float: right;*/
    /*position: relative;*/
    /*width: 100%;*/
    /*margin-top: 10px;*/
/*}*/

.pallet-totals {
    /*margin-bottom: 10px;*/
    /*margin-right: 10px;*/
}

.new-total-pallets-div {
    margin-bottom: 10px;
}

/*******************************************************************************
 * 	Cart Styles
 ******************************************************************************/

.bold {
	font-weight: bold;
}

.rightAlign {
	text-align: right;
}

.leftAlign {
    text-align: left;
}

.centerAlign {
	text-align: center;
}

.cart-label {
	width: 150px;
	height: 30px;
	display: inline-block;
}

.cart-list h4.product-title{
	display: inline-block;
	cursor: pointer;
}

.cart-item {
	width: 250px;
	height: 30px;
	display: inline-block;
}

.item-desc-label {
    /*width: 110px;*/
    float: left;
    text-align: right;
    /*margin-right: 10px;*/
}

.cart-list .item-action {
    text-align: left;
}

.pallet-totals .form-group {
    margin-bottom: 0;
}
.cart-bottom {
    margin-top: 10px;
}

#shipping-locations {
	width: 460px;
    display: inline-block;
    margin: 10px 0 35px;
}

#shipping-comments {
	width: 340px;
	height: 100px;
    /*margin-bottom: 35px;*/
    display: inline-block;
}

#comments-chars {
    color: silver;
}

#contact-number {
	display: inline-block;
	margin-right: 10px;
}

#contact-number span {
	display: block;
}

#submit-area {
	display: inline-block;
	position: relative;
	top: -20px;
}

.nav-right {
	position: relative;
}

.nav-stacked.child-nav .category {
	padding-left: 10px;
}

#submit-alert {
    display: none;
    text-align: center;
}

.category-nav {
    cursor: pointer;
}

#freight-info {
    margin-bottom: 40px;
}

.quantity-label {
    margin-top: 4px;
}

.quantity-css {
    padding-left: 0px;
}

.quantity-input {
    left: -5px;
    position: relative;
}

/*******************************************************************************
 * 	Page Specific Styles
 ******************************************************************************/
form[name=login-form] {
	width: 610px;
	margin: 100px auto;
	border: 1px solid #ccc;
	padding: 20px 25px 1px 25px;
	background-color: #fafafa;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    4px 4px 10px rgba(50, 50, 50, 0.5);
	box-shadow:         4px 4px 10px rgba(50, 50, 50, 0.5);
}

form[name=contactus-form] {
	width: 520px;
    height: 410px;
	margin: 100px auto;
	border: 1px solid #ccc;
	padding: 20px 25px 25px 25px;
	background-color: #fafafa;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    4px 4px 10px rgba(50, 50, 50, 0.5);
	box-shadow:         4px 4px 10px rgba(50, 50, 50, 0.5);
}

form[name=contactus-form] textarea {
	width: 100%;
	height: 200px;
}
